.slides {
  position: relative;
  /* background: blue; */
  width: 100%;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
}

.slick-list {
  padding: 0;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-arrow::before {
  font-size: 50px;
  color: #383838;
}
